<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">   
<head>
<meta charset="utf-8">
<title>MyShop——登录</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/ziy.css}">
<!--  <script th:src="js/jquery-1.11.3.min.js" ></script>
<script th:src="js/index.js" ></script>  --> 
<!-- <script type="text/javascript" th:src="js/jquery1.42.min.js"></script> -->
<!-- 
<script type="text/javascript" th:src="js/jquery-1.11.1.min.js"></script>
 <script type="text/javascript" th:src="js/jquery.SuperSlide.2.1.1.source.js"></script> -->
 
</head> 
<body>
<!--dengl-->
<div class="beij_center">
	<div class="dengl_logo">
		<h1>欢迎登录</h1>
	</div>
</div>
<div class="dengl_beij">

	<div class="banner_xin">
		<img th:src="@{/images/ss.jpg}">
	</div>
	<div class="beij_center dengl_jvz"> 
		<div class="login_form">
			<div class="login_tab">
				<h2>欢迎登录</h2>
				<div class="dengl_erwm">
					<a th:href="@{#}"><img th:src="@{/images/er_wm.png}"></a>
					<div class="tanc_erwm_kuang">
						<img th:src="@{/images/mb_wangid.png}">
						<div class="qrcode_panel">
                            <ul>
                                <li class="fore1">
									<span>打开</span>
                                    <a th:href="@{#}" target="_blank"> <span class="red">手机MyShop</span></a>
                                </li>
								<li>扫描二维码</li>
                            </ul>
                        </div> 
					</div>
				</div> 
			</div>
			<form action="/user/login" method="post">
			<div class="kengl_kuang">
				<div class="txt_kuang">

					<input type="text" class="itxt" name="userCode" placeholder="邮箱/用户名/已验证手机">
					<input type="text" class="itxt" name="userPassword" placeholder="密码">

				</div>
				<div class="remember">
					<div class="fl">
						<input type="checkbox" id="autoLoginFlag">
						<label for="autoLoginFlag">自动登录</label>
					</div>
					<div class="fr">
						<a th:href="@{#}" class="fl" target="_blank" title="忘记密码">忘记密码?</a> 
					</div>
				</div>
				<input type="submit" tabindex="5" value="登 录" class="btnnuw">
			</div>
			</form>
			<div class="corp_login">
				<div class="mingb_shoq"><a th:href="@{#}">名榜授权登录！</a></div>
				<div class="regist_link"><a th:href="@{zhuc.html}" target="_blank"><b></b>立即注册</a></div>
			</div>
		</div> 
	</div>
</div>


<div class="jianj_dib">
	<div class="beia_hao">
		<p>京ICP备：123456789号  </p>
		<p class="gonga_bei">京公网安备：123456789号</p>
	</div>
</div>

</body>
</html>
