<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nonglianwang.core.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.nonglianwang.core.domain.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="available" jdbcType="BIT" property="available" />
  </resultMap>
</mapper>